body{
    background-color: rgb(14, 141, 41);
    margin: 7%;
}

.outer{
    display: flex;
    width: 80%;
    height: 80%;
    justify-self: center;
    transition: transform 0.4s;
    
}

.outer:hover{
    transform: scale(1.01);
}

.login{
    background-color: white;
    text-align: center;
    padding: 10%;
    width: 50%;
    height: 100%;
    transition: box-shadow 0.4s;
}
.login:hover{
    box-shadow: 0px 0px 14px 1px rgb(255, 255, 255);
    transform: scale(1.01);
}

.wellcome{
    color: white;
    background-color: rgb(48, 224, 63);
    text-align: center;
    padding: 10%;
    width: 50%;
    transition: box-shadow 0.4s;
}
.wellcome:hover{
    box-shadow: 0px 0px 14px 1px rgb(48, 224, 63);
    transform: scale(1.01);
}

.forms{
    background-color: rgb(233, 233, 233);
    padding: 9px;
    margin-bottom: 15px;
    border: none;
    width: 100%;
}

.button{
    background-color: rgb(0, 0, 0);
    padding: 7px;
    border: none;
    width: 100%;
    opacity: 0.7;
    font-weight: bold;
    color: white;
    transition: transform 0.2s;
}

button:active{
    font-weight: bold;
    transform: scale(1.05);
}

button:hover{
    opacity: 1;
    font-weight: bold;
}


.choice1{
    background-color: rgb(51, 9, 240);
    font-size: 10px;
    border-radius: 10px;
    color: white;
    padding: 7px;
} 
.choice2{
    background-color: rgb(255, 72, 16);
    font-size: 10px;
    border-radius: 10px;
    color: white;
    padding: 7px;
}
.choice3{
    background-color: rgb(54, 114, 245);
    font-size: 10px;
    border-radius: 10px;
    color: white;
    padding: 7px;
}    

.sign-up{
    font-size: 11px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 7%;
    width: 90%;
    color: white;
    border: none;
    background-color: rgb(0, 255, 128);
}